html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-size: 62.5%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2rem;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------------------------------------------- */
body {
  background-color: #fff1ef;
}

.wrapper {
  height: calc(100vh - 12vh);
  width: calc(100vw - 6vw);
  border: 0.4rem solid #5564bc;
  margin: 5vh auto;
}

.navbar {
  color: #fff1ef;
  text-align: center;
  padding: 0.2rem 0rem;
  background-color: #5564bc;
  width: 90%;
  margin: 10vh auto 0;
}

.navbar__logo {
  display: inline-block;
  margin: 0 auto;
  margin-right: 30%;
}

.navbar__picture {
  display: inline-block;
  width: auto;
  height: 1rem;
}

.navbar__name {
  display: inline-block;
}

.navbar__items {
  display: inline-block;
}

.navbar__item {
  display: inline-block;
  padding: 0.4rem 3rem;
  transition: all .3s;
}

.navbar__item:hover {
  background-color: #e86d59;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 4rem auto 0;
}

.content__info {
  margin-top: 5rem;
}

.content__title, .content__title--colored {
  color: #5564bc;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.content__title .content__title--colored, .content__title--colored .content__title--colored {
  color: #e86d59;
}

.content__subtitle {
  color: #5564bc;
  font-size: 2rem;
  margin: 1rem 0;
  text-transform: uppercase;
}

.content__subtitle--strong {
  font-size: 2rem;
  font-weight: 700;
}

.content__button {
  background-color: #5564bc;
  color: #fff1ef;
  border: none;
  padding: 0.5rem 2rem;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.content__button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #e86d59;
  transition: all .35s;
  z-index: 0;
}

.content__button p {
  z-index: 20;
  position: relative;
}

.content__button:hover::after {
  width: 100%;
  cursor: pointer;
}

.content__food {
  width: 100%;
  max-width: 35vw;
  height: auto;
  object-fit: scale-down;
}

.links {
  margin-top: 2rem;
}

.links__socials {
  height: 2rem;
  width: auto;
  margin-left: 3rem;
}

.links__site {
  display: block;
  margin-left: 3rem;
  text-decoration: none;
  color: #5564bc;
}

.links__site:hover {
  color: #e86d59;
  text-decoration: underline;
}
